# Sphinx, MyST Parser, and the RTD theme require docutils<0.23.
docutils==0.22.4
sphinx==9.0.4
Jinja2==3.1.6
sphinxcontrib.bibtex==2.7.0
sphinxcontrib.mermaid==2.1.1
sphinx-rtd-theme==3.1.0
myst-parser==5.1.0
sphinx-argparse==0.6.1
sphinx-markdown-tables==0.0.17
autodoc-pydantic==2.2.0
sphinx-markdown-builder==0.6.11
git+https://github.com/francoishernandez/sphinx-github-style@master
