docutils==0.21.2
sphinx==8.2.3
Jinja2==3.1.6
sphinxcontrib.bibtex==2.6.5
sphinxcontrib.mermaid==2.0.1
sphinx-rtd-theme==3.1.0
myst-parser==4.0.1
sphinx-argparse==0.5.2
sphinx-markdown-tables==0.0.17
autodoc-pydantic==2.2.0
sphinx-markdown-builder==0.6.10
git+https://github.com/francoishernandez/sphinx-github-style@master
