name: Build Base Docker Image

on:
  workflow_dispatch:
    inputs:
      torch_version:
        description: "PyTorch version"
        required: true
        type: string
      cuda_version:
        description: "CUDA version"
        required: true
        type: string

run-name: ${{ github.workflow }} -- torch:${{ inputs.torch_version }} -- cuda:${{ inputs.cuda_version }}

env:
  TORCH_VERSION: ${{ inputs.torch_version }}
  CUDA_VERSION: ${{ inputs.cuda_version }}

jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    # strategy:
    #   matrix:
    #     cuda_version: [11.8.0, 12.1.0]
    permissions: write-all
    steps:
    - name: Free disk space
      run: curl -fsSL https://raw.githubusercontent.com/kou/arrow/e49d8ae15583ceff03237571569099a6ad62be32/ci/scripts/util_free_space.sh | bash
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Login to ghcr
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: |
        docker/build_base.sh ${{ env.TORCH_VERSION }} ${{ env.CUDA_VERSION }}
